/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('/bike-bg-chat.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #1e1e1e; /* Dark background */
}

::-webkit-scrollbar-thumb {
  background-color: #4a4a4a; /* Dark gray for the thumb */
  border-radius: 10px;
  border: 2px solid #1e1e1e; /* Matches the background */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #616161; /* Lighter on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #4a4a4a #1e1e1e; /* Thumb color and track color */
}
